*{
    padding: 0px;
    margin: 0px;
        box-sizing: border-box;
}



body{
    background:linear-gradient(rgb(25, 0, 255), rgb(255, 0, 0)) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;
    border: 2px medium white;    
    padding: 32px;
    margin: 32px;
    

}
div{
    

    margin-left: 450px;
    margin-top: 200px;
    background:linear-gradient(rgb(140, 0, 255), rgb(255, 0, 179)) ;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    text-shadow: 0px 0px 10px hsl(251, 100%, 23%) ,
    0px 0px 5px hsl(251, 100%, 23%) ,
    0px 0px 5px hsl(251, 100%, 23%) ,
    0px 0px 20px hsl(251, 100%, 23%) ,
    0px 0px 20px hsl(251, 100%, 23%) , 
    0px 0px 20px hsl(251, 100%, 23%) ,
    0px 0px 40px #fbff00,
    0px 0px 60px #bbff00;
    padding: 60px;
}
h3{
    text-shadow: 0px 0px 10px hsl(229, 100%, 51%) ,
                 0px 0px 5px hsl(229, 100%, 51%) ,
                 0px 0px 5px hsl(229, 100%, 51%) ,
                 0px 0px 20px hsl(229, 100%, 51%) ,
                 0px 0px 20px hsl(229, 100%, 51%) , 
                 0px 0px 20px hsl(229, 100%, 51%) ,
                 0px 0px 40px #fbff00,
                 0px 0px 60px #bbff00;
        
    text-align: right;
}

@media phone and (max-width:400px){
    *{
        padding: 0px;
        margin: 0px;
            box-sizing: border-box;
    }
    
    
    
    body{
        background:linear-gradient(rgb(25, 0, 255), rgb(255, 0, 0)) ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        color: white;
        border: 2px medium white;    
        padding: 32px;
        margin: 32px;
        
    
    }
    div{
        
    
        margin-left:200px;
        margin-top: 200px;
        background:linear-gradient(rgb(140, 0, 255), rgb(255, 0, 179)) ;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        text-shadow: 0px 0px 10px hsl(251, 100%, 23%) ,
        0px 0px 5px hsl(251, 100%, 23%) ,
        0px 0px 5px hsl(251, 100%, 23%) ,
        0px 0px 20px hsl(251, 100%, 23%) ,
        0px 0px 20px hsl(251, 100%, 23%) , 
        0px 0px 20px hsl(251, 100%, 23%) ,
        0px 0px 40px #fbff00,
        0px 0px 60px #bbff00;
        padding: 60px;
    }
    h3{
        text-shadow: 0px 0px 10px hsl(229, 100%, 51%) ,
                     0px 0px 5px hsl(229, 100%, 51%) ,
                     0px 0px 5px hsl(229, 100%, 51%) ,
                     0px 0px 20px hsl(229, 100%, 51%) ,
                     0px 0px 20px hsl(229, 100%, 51%) , 
                     0px 0px 20px hsl(229, 100%, 51%) ,
                     0px 0px 40px #fbff00,
                     0px 0px 60px #bbff00;
            
        text-align: right;
    }
}